alias python="python3"
alias pf="cd $HOME/Documents/Projects"
alias gap="gapa"
alias gdc="gd --cached"
alias rspec_exp="rspec --exclude-pattern 'spec/requests/api_docs/**/*_spec.rb'"
alias gpcb="gp -u origin `gb --show-current`"
alias gpcbf="gpcb -f"
